.christmas-countdown {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffb300;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: solid 3px #d50000;
  color: white;
  padding: 10px;
}

.christmas-countdown__message {
  font-size: 25px;
}
