@import url('https://fonts.googleapis.com/css?family=Satisfy');


.title{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: rgb(131, 6, 6);
    font-family: 'Satisfy';
}


table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .details {
    overflow: hidden;
    display: flex;
  }
  
  .count-box {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .count {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .address {
    padding: 16px;
  }
  
  .address-attribution {
    opacity: 0.5;
  }
  